/* stylelint-disable selector-pseudo-class-no-unknown */
:global(html) {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:global(body) {
  margin: 0;
  background: #dadada;
  font-size: 1.6em;
  overflow-x: hidden;

  * {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box;
  }
}
